<%= form_for :user, url: users_path do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: "Phone number" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="field">
    <%= f.label :repeat_password %>
    <%= f.password_field :password_confirmation, placeholder: "Repeat Password" %>
  </div>
  <div class="actions">
    <%= f.submit :create_account, value: "Create Account" %>
  </div>
<% end %>